@font-face {
  font-family: "Lilex";
  src:
    local("Lilex"),
    url("/_fonts/Lilex/ttf/Lilex-Regular.ttf")
}
* {
  font-family: Lilex, monospace;
}

.idx-title {
}

.title {
  font-style: italic;
}

.chord {
  font-weight: bold;
  color: blue;
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: #222222;
    color: #dedede;
  }
  .chord {
    color: #A451EE;
  }
  a {
    color: #65D61C;
    font-weight: bold;
  }
  img {
   filter: hue-rotate(180deg) invert(100%);
  }
}
